html {
  scroll-behavior: smooth;
}

#struktur img {
  box-shadow: 5px 5px 5px #aaaaaa;
}

#jumbotron,
#visimisi,
#contact,
#struktur,
#tagline {
  padding-top: 6rem;
}

#jumbotron img {
  width: 120px;
}

#jumbotron,
#visimisi,
#contact {
  background-color: #666;
}

#struktur img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card img {
  width: 60%;
}

.card {
  background-color: #666;
}
