html {
  scroll-behavior: smooth;
}
.jumbotron {
  padding-top: 6rem;
}

.jumbotron,
#visimisi,
#contact {
  background-color: #666;
}

section {
  padding-top: 6rem;
}

#struktur img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card img {
  width: 200px;
  height: 200px;
}

.card {
  background-color: #666;
}
